<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>

        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.url"><![CDATA[jdbc:mysql://localhost:3306/levermann?useSSL=false&serverTimezone=UTC]]></property>
        <property name="connection.serverTimezone">UTC</property>
        <property name="connection.useLegacyDatetimeCode">false</property>
        <!-- JDBC connection pool settings ... using built-in test pool -->
        <property name="connection.pool_size">1</property>
        <!-- Select our SQL dialect -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <!-- Echo the SQL to stdout -->
        <property name="show_sql">true</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="hibernate.show_sql"> true </property>
        <property name="hibernate.c3p0.min_size">20 </property>
        <property name="hibernate.c3p0.timeout" >300 </property>
        <property name="hibernate.c3p0.max_statements"> 50</property>
        <property name="hibernate.c3p0.idle_test_period" >3000</property>


        <mapping class="com.levermann.sessionControlClasses.Analysisrating"/>
        <mapping resource="com/levermann/sessionControlClasses/Analysisrating.hbm.xml"/>
        <mapping class="com.levermann.sessionControlClasses.Analysissteps"/>
        <mapping resource="com/levermann/sessionControlClasses/Analysissteps.hbm.xml"/>
        <mapping class="com.levermann.sessionControlClasses.Company"/>
        <mapping resource="com/levermann/sessionControlClasses/Company.hbm.xml"/>

        <event type="pre-update">
            <listener class="org.hibernate.cfg.beanvalidation.BeanValidationEventListener"/>
        </event>
        <event type="pre-update">
            <listener class="org.hibernate.cfg.beanvalidation.BeanValidationEventListener"/>
        </event>
        <event type="pre-delete">
            <listener class="org.hibernate.cfg.beanvalidation.BeanValidationEventListener"/>
        </event>

        <!-- <property name="connection.username"/> -->
        <!-- <property name="connection.password"/> -->

        <!-- DB schema will be updated if needed -->
        <!-- <property name="hibernate.hbm2ddl.auto">update</property> -->
    </session-factory>
</hibernate-configuration>