*,

.check-box:focused{
    -fx-color: #2EFE2E;
    -fx-focused-color: #2EFE2E;
}
.check-box .box{
    -fx-border-color: #2EFE2E;
    -fx-shadow-highlight-color: #2EFE2E;
    -fx-outer-border: #848484;
    -fx-background-color: #2EFE2E;
    -fx-background-insets: #2EFE2E;
    -fx-background-radius: 2,2,1,1;
    -fx-padding: 0.25em;
}
.check-box:focused .box{
    -fx-background-color: #848484;
    -fx-background-insets: -1.4, 0,1,2;
    -fx-background-radius: 3,4,2,1,1;
}




*