*,
.root {
    -fx-background-color: #FFFFFF;
}
.table-view{
    -fx-background-color: transparent;
}
.table-view:focused{
    -fx-background-color: transparent;
}
.table-row-cell:odd{
    -fx-background-color: #2EFE2E;
    -fx-background-insets: 0, 0 0 1 0;
}
.table-row-cell:even{
    -fx-background-color: #00FF00;
    -fx-background-insets: 0, 0 0 1 0;
}
.table-view .button{
    -fx-border-color: #000000;
    -fx-background-color: #ffffff;
    -fx-background-image: url('/pictures/MusterButton.png');
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 9pt;
    -fx-text-fill: #ffffff;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}
/* The main scrollbar **track** CSS class  */
.table-view .scroll-bar:horizontal .track,
.table-view .scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-border-color:derive( #2EFE2E,10%);

    -fx-background-radius: 2em;
    -fx-border-radius:2em;
}

/* The main scrollbar */
.table-view .scroll-bar:horizontal .thumb,
.table-view .scroll-bar:vertical .thumb {
    -fx-background-color:derive( #2EFE2E,10%);
    -fx-background-insets: 2, 0, 0;
    -fx-background-radius: 2em;

}

/* chart properties */

.chart {
    -fx-padding: 10px;
    -fx-background-color: transparent;
    -fx-legend-visible: false;
}
.chart-plot-background {
    -fx-background-color:transparent;
}

.chart-pie {
    -fx-border-color: derive(-fx-pie-color, 10%);
    -fx-border-width: 0px;
}*